a {
    text-decoration: none;
    background-color: aliceblue;
    color: black;
}

p {
    background-color: azure;
    font-size: larger;
}

.i {
    text-align: center;
}

td {
    text-align: center;
}

a:hover {
    color: red;
}